In [1]:
import pandas as pd

In [2]:
fruits = ['raspberries','apples','cherries','oranges','grapes']
prices = [44.50,65.50,69.50,70.00,101.00]
fruit_shop = pd.Series(prices, index=fruits)
print(fruit_shop)

raspberries     44.5
apples          65.5
cherries        69.5
oranges         70.0
grapes         101.0
dtype: float64

In [4]:
fruit_shop['raspberries']

44.5

In [7]:
fruit_shop[['apples','raspberries','oranges']]

apples         65.5
raspberries    44.5
oranges        70.0
dtype: float64

In [8]:
fruit_shop.values

array([ 44.5,  65.5,  69.5,  70. , 101. ])

In [9]:
fruit_shop.index

Index(['raspberries', 'apples', 'cherries', 'oranges', 'grapes'], dtype='object')

In [12]:
def rise(price):
    price += 0.5*price
    return price

fruit_shop.apply(rise)

raspberries     66.75
apples          98.25
cherries       104.25
oranges        105.00
grapes         151.50
dtype: float64

In [14]:
cities = {"London":8615246,
"Berlin":3562166,
"Madrid":3165235,
"Rome":2874038,
"Paris":2273305,
"Vienna":1805681,
"Bucharest":1803425,
"Hamburg":1760433,
"Budapest":1754000,
"Warsaw":1740119,
"Barcelona": 1602386,
"Munich":1493900,
"Milan":1350680}

citys = pd.Series(cities)

In [19]:
micity = pd.Series(citys,index=['Zurich','Oslo','Munich','Milan'])
print(micity)

Zurich          NaN
Oslo            NaN
Munich    1493900.0
Milan     1350680.0
dtype: float64

In [21]:
micity.isnull()

Zurich     True
Oslo       True
Munich    False
Milan     False
dtype: bool

In [25]:
micity.notnull()

Zurich    False
Oslo      False
Munich     True
Milan      True
dtype: bool

In [26]:
micity.dropna()

Munich    1493900.0
Milan     1350680.0
dtype: float64

In [27]:
micity.fillna({'Zurich':20000,'Oslo':990000})

Zurich      20000.0
Oslo       990000.0
Munich    1493900.0
Milan     1350680.0
dtype: float64