In [45]:
import pandas as pd
import numpy as np

In [46]:
fruits = ['raspberries','apples','cherries','oranges','grapes']
prices = [44.50,65.50,69.50,70.00,101.00]
fruit_shop = pd.Series(prices, index=fruits)
print(fruit_shop)

raspberries     44.5
apples          65.5
cherries        69.5
oranges         70.0
grapes         101.0
dtype: float64

In [47]:
fruit_shop['raspberries']

44.5

In [48]:
fruit_shop[['apples','raspberries','oranges']]

apples         65.5
raspberries    44.5
oranges        70.0
dtype: float64

In [49]:
fruit_shop.values

array([ 44.5,  65.5,  69.5,  70. , 101. ])

In [50]:
fruit_shop.index

Index(['raspberries', 'apples', 'cherries', 'oranges', 'grapes'], dtype='object')

In [51]:
def rise(price):
    price += 0.5*price
    return price

fruit_shop.apply(rise)

raspberries     66.75
apples          98.25
cherries       104.25
oranges        105.00
grapes         151.50
dtype: float64

In [52]:
cities = {"London":8615246,
"Berlin":3562166,
"Madrid":3165235,
"Rome":2874038,
"Paris":2273305,
"Vienna":1805681,
"Bucharest":1803425,
"Hamburg":1760433,
"Budapest":1754000,
"Warsaw":1740119,
"Barcelona": 1602386,
"Munich":1493900,
"Milan":1350680}

citys = pd.Series(cities)

In [53]:
micity = pd.Series(citys,index=['Zurich','Oslo','Munich','Milan'])
print(micity)

Zurich          NaN
Oslo            NaN
Munich    1493900.0
Milan     1350680.0
dtype: float64

In [54]:
micity.isnull()

Zurich     True
Oslo       True
Munich    False
Milan     False
dtype: bool

In [55]:
micity.notnull()

Zurich    False
Oslo      False
Munich     True
Milan      True
dtype: bool

In [56]:
micity.dropna()

Munich    1493900.0
Milan     1350680.0
dtype: float64

In [57]:
micity.fillna({'Zurich':20000,'Oslo':990000})

Zurich      20000.0
Oslo       990000.0
Munich    1493900.0
Milan     1350680.0
dtype: float64

In [60]:
#dataframes
stationery = ['pencils','erasers','sharpeners','rulers', 'notebooks','pens']
prices = [44.50, 10.50, 10.00, 15.00, 120.00, 100.50]
discount = [25, 10, 10, 50, 50, 40]
taxes = np.ones_like(prices)
shop_prices = pd.Series(prices, index=stationery)
shop_taxes = pd.Series(taxes, index=stationery)
shop_discounts = pd.Series(discount, index=stationery)

In [64]:
shop_df = pd.concat([shop_prices, shop_discounts, shop_taxes], axis=1)

In [65]:
shop_df.columns = ['Prices', 'Discounts', 'Taxes']

In [66]:
shop_df

            Prices  Discounts  Taxes
pencils       44.5         25    1.0
erasers       10.5         10    1.0
sharpeners    10.0         10    1.0
rulers        15.0         50    1.0
notebooks    120.0         50    1.0
pens         100.5         40    1.0

In [76]:
fruits = {'fruits':['raspberries', 'apples', 'grapes', 'oranges', 'dragonfruit', 'cherries', 'persimmons'], 
          'prices':[55.50, 40.50, 59.95, 60.90, 150.45, 200.45, 195.95],
          'discounts':[25, 45, 40, 50, 10, 15, 35]}
fruit_shop = pd.DataFrame(fruits)

In [77]:
fruit_shop

        fruits  prices  discounts
0  raspberries   55.50         25
1       apples   40.50         45
2       grapes   59.95         40
3      oranges   60.90         50
4  dragonfruit  150.45         10
5     cherries  200.45         15
6   persimmons  195.95         35

In [78]:
fruit_shop.columns

Index(['fruits', 'prices', 'discounts'], dtype='object')

In [81]:
serial = [i for i in range(1,8)]
fruit_shop.index = serial

In [82]:
fruit_shop

        fruits  prices  discounts
1  raspberries   55.50         25
2       apples   40.50         45
3       grapes   59.95         40
4      oranges   60.90         50
5  dragonfruit  150.45         10
6     cherries  200.45         15
7   persimmons  195.95         35

In [90]:
fruit_shop.columns = [ colnames.title() for colnames in fruit_shop.columns]
fruit_shop['Fruits'] = [fruitnames.title() for fruitnames in fruit_shop['Fruits']]

In [91]:
fruit_shop

        Fruits  Prices  Discounts
1  Raspberries   55.50         25
2       Apples   40.50         45
3       Grapes   59.95         40
4      Oranges   60.90         50
5  Dragonfruit  150.45         10
6     Cherries  200.45         15
7   Persimmons  195.95         35

In [92]:
fruit_shop = pd.DataFrame(fruit_shop, columns=['Fruits', 'Discounts', 'Prices'])

In [93]:
fruit_shop

        Fruits  Discounts  Prices
1  Raspberries         25   55.50
2       Apples         45   40.50
3       Grapes         40   59.95
4      Oranges         50   60.90
5  Dragonfruit         10  150.45
6     Cherries         15  200.45
7   Persimmons         35  195.95

In [97]:
fruitshop_hindi = fruit_shop.rename(columns={'Fruits':'Phal', 'Discounts':'Diskaunt', 'Prices':'Daam'})

In [98]:
fruitshop_hindi

          Phal  Diskaunt    Daam
1  Raspberries        25   55.50
2       Apples        45   40.50
3       Grapes        40   59.95
4      Oranges        50   60.90
5  Dragonfruit        10  150.45
6     Cherries        15  200.45
7   Persimmons        35  195.95

In [100]:
noindexfruit = pd.DataFrame(fruits, columns=['prices', 'discounts'], index=fruits['fruits'])

In [101]:
noindexfruit

             prices  discounts
raspberries   55.50         25
apples        40.50         45
grapes        59.95         40
oranges       60.90         50
dragonfruit  150.45         10
cherries     200.45         15
persimmons   195.95         35

In [102]:
noindexfruit = noindexfruit.apply(rise)

In [103]:
noindexfruit

              prices  discounts
raspberries   83.250       37.5
apples        60.750       67.5
grapes        89.925       60.0
oranges       91.350       75.0
dragonfruit  225.675       15.0
cherries     300.675       22.5
persimmons   293.925       52.5

In [113]:
fruit_shop.set_index('Fruits', inplace=True)
print(fruit_shop.loc[['Apples','Persimmons']])

KeyError: "None of ['Fruits'] are in the columns"